<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="BaseAddressForClient" value="http://10.9.180.166:8001"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITicketService" />
            </basicHttpBinding>
        </bindings>
        <client>
          <!--endpoint for IIS host-->
            <endpoint address="http://10.9.180.166/TicketService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITicketService" contract="TicketServiceFromContainer.ITicketService"
                name="BasicHttpBinding_ITicketService" />
          <!--endpoint for console host-->
          <!--<endpoint address="http://localhost:8001/Service1" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITicketService" contract="TicketServiceFromContainer.ITicketService"
                name="BasicHttpBinding_ITicketService" />-->
        </client>
    </system.serviceModel>
</configuration>
